{{>head title="Upload Product"}}


{{>navbar}}

<h1> 
    <p>
        this is the upload product page
        - a form
        - product picture, category, description, status (default - unapproved), selected (default - no)
    </p> 

</h1>

{{>tail}}